In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Mogadishu,SO,2020-04-18 05:19:05,2.04,45.34,86.00,66,75,11.41
1,1,Husavik,IS,2020-04-18 05:19:06,66.04,-17.34,44.60,56,0,44.96
2,2,Longyearbyen,SJ,2020-04-18 05:18:47,78.22,15.64,28.40,86,40,3.36
3,3,Ponta Do Sol,PT,2020-04-18 05:18:45,32.67,-17.10,55.99,66,11,4.00
4,4,Vaini,TO,2020-04-18 05:18:34,-21.20,-175.20,78.80,74,40,9.17

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0),zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [10]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"]>= min_temp) & (city_data_df["Max Temp"]<= max_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Mogadishu,SO,2020-04-18 05:19:05,2.04,45.34,86.00,66,75,11.41
4,4,Vaini,TO,2020-04-18 05:18:34,-21.20,-175.20,78.80,74,40,9.17
6,6,Mahebourg,MU,2020-04-18 05:19:07,-20.41,57.70,82.00,78,75,16.11
12,12,Puerto Ayora,EC,2020-04-18 05:18:21,-0.74,-90.35,75.99,91,73,1.99
13,13,Kapaa,US,2020-04-18 05:18:23,22.08,-159.32,78.80,69,1,10.29
16,16,Ternate,ID,2020-04-18 05:19:09,0.80,127.40,84.67,74,35,3.96
26,26,Hounde,BF,2020-04-18 05:19:11,11.50,-3.52,83.41,55,38,9.08
29,29,Kailua,US,2020-04-18 05:19:12,21.40,-157.74,78.80,57,40,5.82
32,32,Cam Ranh,VN,2020-04-18 05:19:13,11.92,109.16,89.60,75,40,9.17
34,34,Bubaque,GW,2020-04-18 05:19:13,11.28,-15.83,77.77,56,60,20.74

In [11]:
preferred_cities_df.count()

City_ID       162
City          162
Country       162
Date          162
Lat           162
Lng           162
Max Temp      162
Humidity      162
Cloudiness    162
Wind Speed    162
dtype: int64

In [12]:
preferred_cities_df.isnull().sum()

City_ID       0
City          0
Country       0
Date          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
dtype: int64

In [13]:
preferred_cities_df.notnull().sum()

City_ID       162
City          162
Country       162
Date          162
Lat           162
Lng           162
Max Temp      162
Humidity      162
Cloudiness    162
Wind Speed    162
dtype: int64

In [14]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City Country  Max Temp    Lat     Lng Hotel Name
0      Mogadishu      SO     86.00   2.04   45.34
4          Vaini      TO     78.80 -21.20 -175.20
6      Mahebourg      MU     82.00 -20.41   57.70
12  Puerto Ayora      EC     75.99  -0.74  -90.35
13         Kapaa      US     78.80  22.08 -159.32
16       Ternate      ID     84.67   0.80  127.40
26        Hounde      BF     83.41  11.50   -3.52
29        Kailua      US     78.80  21.40 -157.74
32      Cam Ranh      VN     89.60  11.92  109.16
34       Bubaque      GW     77.77  11.28  -15.83

In [15]:
# Set the parameters to search for a hotel in Paris.
params = {
    "radius": 5000,
    "types": "lodging",
    "key": g_key
    }

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

print("Task done")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Task done

In [16]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Mogadishu,SO,86.00,2.04,45.34,Hotel Juba
4,Vaini,TO,78.80,-21.20,-175.20,Keleti Beach Resort
6,Mahebourg,MU,82.00,-20.41,57.70,Shandrani Beachcomber Resort & Spa
12,Puerto Ayora,EC,75.99,-0.74,-90.35,Finch Bay Galapagos Hotel
13,Kapaa,US,78.80,22.08,-159.32,Sheraton Kauai Resort at Coconut Beach
...,...,...,...,...,...,...
554,Tessalit,ML,79.12,20.20,1.01,
557,Asosa,ET,84.43,10.07,34.53,Blendana Hotel Assosa
561,Pedasi,PA,78.55,7.53,-80.03,Hotel Casa de Campo Pedasí
567,Vanimo,PG,85.28,-2.67,141.30,Vahmoneh Lodge Vanimo
569,Vila Velha,BR,75.20,-20.33,-40.29,Hotel Vitória Palace

In [18]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))